

        <div class="uk-card uk-card-default newpass-card">

            <a routerLink="/welcome/login"><img src="../img/logo.png" id="newpass-logo" /></a>

            <form class="uk-grid-small newpass-form" uk-grid>
                <b class="newpass-txt">Digite seu e-mail para receber o link e resetar a senha</b>
                <div class="uk-width-1-1@s" >
                    <input class="uk-input" type="text" placeholder="E-mail">
                </div>
                <button class="uk-button uk-button-primary newpass-btn">Continuar</button>
            </form>

        </div>



    <style type="text/css">
        html{
            background: #FBFBFB !important;
        }

        .newpass-card{
            width: 500px;
            height: 300px;
            top: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #newpass-logo{
            width: 180px;
            top: 20px;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .newpass-form{
            width: 420px;
            position: relative;
            top: 75px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .newpass-txt{
            font-weight: normal;
        }
        .newpass-btn{
            position: relative;
            left: 15px;
            width: 40%
        }
    </style>




