<welcome-header></welcome-header>


<div class="ice-container">

    <div uk-grid class="ice-welcome-instruct-information">
        <div class="uk-width-1-3@m">
            <img src="img/grana.jpg"/>
            <div class="ice-welcome-instruct-title">{{"money" | translate}}</div>
            <div class="ice-welcome-instruct-description">{{"money-text" | translate}}</div>
        </div>
        <div class="uk-width-1-3@m">
            <img src="img/ensine.jpg"/>
            <div class="ice-welcome-instruct-title">{{"instruct" | translate}}</div>
            <div class="ice-welcome-instruct-description">{{"instruct-text" | translate}}</div>
        </div>
        <div class="uk-width-1-3@m">
            <img src="img/design.jpg"/>
            <div class="ice-welcome-instruct-title">{{"custom" | translate}}</div>
            <div class="ice-welcome-instruct-description">{{"custom-text" | translate}}</div>
        </div>
    </div>

    <dl class="uk-description-list uk-description-list-divider uk-width-1-1 ice-welcome-instruct-start">
        <div>{{"instruct-start" | translate}}</div>

        <dt>{{"instruct-theme" | translate}}</dt>
        <dd>{{"instruct-theme-text" | translate}}</dd>

        <dt>{{"instruct-lab" | translate}}</dt>
        <dd>{{"instruct-lab-text" | translate}}</dd>

        <dt>{{"instruct-shared" | translate}}</dt>
        <dd>{{"instruct-shared-text" | translate}}</dd>
    </dl>
</div>