<div class="ice-container">
    <div class="uk-card uk-card-default register-card">

        <a routerLink="/welcome/login"><img src="../img/logo.png" id="register-logo" /></a>
        <form class="uk-grid-small register-grid" uk-grid>

            <div class="uk-width-1-1@s">
                <input class="uk-input" type="text" placeholder="Nome">
            </div>

            <div class="uk-width-1-1@s">
                <input class="uk-input" type="text" placeholder="Email">
            </div>

            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Senha">
            </div>

            <div class="uk-width-1-2@s">
                <input class="uk-input " type="text" placeholder="Confirme a senha">
            </div>

            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox" type="checkbox" checked> Concordo com os <a href=""> Termos e Condições</a> e <a href="">Politicas de Privacidade</a></label>
            </div>

            <button class="uk-button uk-button-primary uk-width-1-1 register-btn">Cadastrar</button>

        </form>
    </div>

</div>


<style type="text/css">

.register-card{
top: 60px;
width: 550px;
height: 470px;
display: block;
margin-left: auto;
margin-right: auto;
}

#register-logo{
position: relative;
top: 25px;
width: 160px;
display: block;
margin-left: auto;
margin-right: auto;
}
.register-grid{
position: relative;
top: 70px;
width: 450px;
margin-left: auto;
margin-right: auto;
}
.register-btn{
position: relative;
top: 15px;
left: 14px;
width: 97%
}
</style>